@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "League Spartan", sans-serif;
}

body {
	/* Primary */
	--very-dark-magenta: hsl(300, 43%, 22%); /* title h1, .cards */
	--soft-pink: hsl(333, 80%, 67%); /* .stati */

	/* Neutral */
	--dark-grayish-magenta: hsl(303, 10%, 53%); /* title p */
	--light-grayish-magenta: hsl(300, 24%, 96%); /* .ratings */
	--white: hsl(0, 0%, 100%);

	--breakpoint: 375px;
	--max-card-width: 20em;
	--gap: 1em;

	/* font-size: 15px; */

	min-height: 100vh;
	padding: 0 var(--gap);
	justify-content: center;

	display: grid;
	grid-template-rows: 1fr auto;

	background-image: url(images/bg-pattern-top-mobile.svg),
		url(images/bg-pattern-bottom-mobile.svg);
	background-position: left, right;
	background-size: cover;
	background-repeat: no-repeat;

	/* background-size: auto; */
}

main {
	max-width: var(--max-card-width);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, min-content);
	gap: calc(var(--gap) * 2);
	margin-top: calc(3 * var(--gap));
	margin-bottom: var(--gap);
}

/* ~~~~~~~~~~ TITLE ~~~~~~~~~~ */

#title {
	text-align: center;
}

#title h1 {
	font-size: 3em;
	line-height: 1em;
	color: var(--very-dark-magenta);
	padding: 0.5em 0;
}
#title p {
	color: var(--dark-grayish-magenta);
	font-weight: 500;
}

/* ~~~~~~~~~~ RATINGS ~~~~~~~~~~ */
#ratings-container {
	display: grid;
	grid-template-columns: 1frs;
	gap: var(--gap);
}
.ratings {
	background-color: var(--light-grayish-magenta);
	border-radius: 0.5em;
	padding: var(--gap);
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: calc(var(--gap) / 2);
	color: var(--very-dark-magenta);
}

/* ~~~~~~~~~~ CARDS ~~~~~~~~~~ */

#cards-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
}

.cards {
	background-color: var(--very-dark-magenta);
	color: var(--white);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr min-content;
	place-items: left;
	padding: calc(var(--gap) * 2);
	border-radius: 0.5rem;
}

.avatars {
	grid-row: 1 / span 2;
	margin-right: var(--gap);
}
.avatars img {
	width: 3em;
	border-radius: 50%;
}

.comments {
	grid-column: 1 / span 2;
	margin-top: var(--gap);
}

.names {
	align-self: end;
}

.stati {
	color: var(--soft-pink);
	font-weight: 500;
}

/* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */
footer {
	bottom: 0;
	font-size: 0.75em;
	text-align: center;
}

@media screen and (min-width: 50em) {
	body {
		font-size: 15px;
		background-image: url(images/bg-pattern-top-desktop.svg),
			url(images/bg-pattern-bottom-desktop.svg);
		background-position: top left, bottom right;
		background-size: auto;
		background-repeat: no-repeat;
	}

	main {
		max-width: calc(var(--max-card-width) * 3 + var(--gap) * 4);
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2, min-content);
		margin: auto 0;
	}

	#title {
		margin-right: 20%;
	}

	#title h1 {
		font-size: 3.5em;
		letter-spacing: -0.05em;
	}

	#ratings-container {
		align-self: center;
		grid-template-rows: repeat(3, min-content);
	}

	.ratings {
		padding: var(--gap);
		display: grid;
		grid-template-columns: max-content 1fr;
		place-items: unset;
		align-items: center;
		gap: calc(var(--gap) / 2);
		width: 90%;
	}

	.ratings:nth-of-type(2) {
		justify-self: center;
	}

	.ratings:nth-of-type(3) {
		justify-self: end;
	}

	.stars {
		margin: auto var(--gap);
	}

	#cards-container {
		grid-column: 1 / span 2;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 120%;
		font-size: 0.95em;
	}

	.cards {
		height: min-content;
	}

	.cards:nth-of-type(1) {
		align-self: top;
	}

	.cards:nth-of-type(2) {
		align-self: center;
	}

	.cards:nth-of-type(3) {
		align-self: end;
	}

	#title {
		text-align: unset;
	}
}
